.cover__overlay {
  background: rgba(42, 44, 47, 0.3);
  width: 100%;
  position: relative;
  z-index: 1;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: background 0.6s;
}

.cover__overlay:hover {
  background: rgba(42, 44, 47, 0.8);
}
